*{
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-image: url(5c2749b46bf44ce731f6a7a72bf7ef40.jpg);
    width: 100%;
    min-height: 100vh;  
    background-size: cover;  
    background-position: center;
    z-index: 0;
    position: relative;
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 10px;
    width: calc(100% - 20px); 
    margin-left: 10px;
    margin-right: 10px;

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    /* GLASS EFFECT */
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4px) saturate(140%);
    -webkit-backdrop-filter: blur(14px) saturate(140%);

    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.35),
        inset 0 1px 1px rgba(255, 255, 255, 0.25);

    z-index: 10;
}

.navlogo{
    background-image: url(logo.gif.gif);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 5px 5px 5px 5px;
}
.navaddress{
    display: flex;
    margin: 5px 5px 5px 5px;
    gap: 0;
    align-items: center;
}
#navlocationlogo{
    font-size: 30px;
    margin-top: 10px;
    padding: 0;
    color: #CFE8EF;
}
.navadd{
    margin: 0;
    padding: 0;
}
.navdeliverTo{
    font-weight: 200;
    font-size: 1.5rem;
    color: #D0D6B3;

}
#navadd{
    font-weight: 600;
    font-size: 1rem;
    color: #F7F7F7;
}

.navsearchbar{
    display: flex;
    height: 40px;
    align-items: center;
    margin: 10px 10px 10px 10px;
    gap: 0;
}
.navselect{
    height: 38px;
    width: 105px;
    background-color: #8EA8C3;
    border-radius: 5px 0px 0px 5px;
}
.navselect:hover{
    background-color: #9BC4BC;
}
#navsearchinput{
    height: 38px;
    width: 500px;
    border-radius: 0px 5px 5px 0px;
}
.navsearchlogo{
    background-color: #8FAFC6;
    height: 37px;
    width: 38px;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navsearchlogo:hover{
    background-color: #9BC4BC;
}
#navsearchfont{
    margin: 25% 25% 25% 15%;
    font-size: 1rem;
}
.navid{
    display:flex;
}
.navidlogo{
    height: 50px;
    width: 50px;
    margin: 5px 5px 5px 5px;
    background-image: url(idlogo.gif);
    background-size: cover;
}.navidlogo:hover{
    background-image: url(id.gif);
    background-size: cover;
}
/* .navidtext{
    font-size: 1.5rem;
    margin: 15px 5px 15px 0px;
    padding: 0px;
} */
.navcart{
    display:flex;
}
#navcartlogo{
    font-size: 1.8rem;
    margin: 10px 10px 10px 5px;
    color: #CFE8EF; 
}
.navcartnumber{
    font-size: 2rem;
    color: #CFE8EF;
}
#navcartlogo:hover{
    color: #C0F8D1;
}
.heropage{
    /* height: 500px; */
    width: calc(100% - 20px); 
    margin: 100px 20px 50px 20px;
    z-index: 10;
    /* GLASS EFFECT */
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4px) saturate(140%);
    -webkit-backdrop-filter: blur(14px) saturate(140%);

    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.35),
        inset 0 1px 1px rgba(255, 255, 255, 0.25);
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.slider-wrapper{
    position: relative;
    max-width: 100rem;
    margin: 0;
}
.slider{
    display: flex;
    aspect-ratio: 3/1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;

}
.slider::-webkit-scrollbar {
    display: none;
}
.slider {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE / Edge legacy */
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
